<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.moavara">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TakeALook.NoActionBar">
        <activity
            android:name="com.example.moavara.Main.ActivityMain"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.moavara.Search.ActivitySearch"
            android:exported="true">
        </activity>

        <activity
            android:name="com.example.moavara.Main.ActivityIntro"
            android:exported="true">
        </activity>

        <activity
            android:name="com.example.moavara.Main.ActivityLogin"
            android:exported="true">
        </activity>

        <activity
            android:name="com.example.moavara.Main.ActivityBookSetting"
            android:label=""
            android:exported="true">
        </activity>

        <activity
            android:name="com.example.moavara.Main.ActivityGuide"
            android:label=""
            android:exported="true"
            android:theme="@style/Theme.TakeALook.NoActionBar"
            >
        </activity>

        <activity
            android:name="com.example.moavara.Main.ActivitySplash"
            android:exported="true">

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>